// ----------------------------------------------------------------
// variable
$variable-top: 60px;
// ----------------------------------------------------------------

// ----------------------------------------------------------------
// Single Layout
.single-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
// ----------------------------------------------------------------

// ----------------------------------------------------------------
// Complex Layout
.complex-main {
	position: absolute;
	top: $variable-top;
	left: 0;
	width: 100%;
	height: calc(100% - #{$variable-top});
	background-color: red;
}
// ----------------------------------------------------------------
